{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="card mb-3">
    <h2 class="card-header bg-dark text-white">{{ article.title }}</h2>
    <div class="card-body">
        {% if article.thumbnail %}
        <img class="img-thumbnail" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
        {% else %}
        <img class="img-thumbnail" src="{% static 'no_image/no_image_yoko.jpg' %}" alt="{{ article.title }}">
        {% endif %}
        <p>{{ article.created_date }} / カテゴリ：{{ article.category_id }}</p>
        {{ article.text | linebreaksbr | urlize }}
    </div>
</div>

{% for comment in article.comment_set.all %}
<ol>
    <li>
        <p class="">
            <b>{{ comment.name }}</b> / {{ comment.created_date }}<br>
            {{ comment.text | linebreaksbr }}
        </p>
    </li>
</ol>
{% endfor %}

<a class="btn btn-dark" href="{% url 'blog:comment' article.pk %}">コメント投稿ページへ</a>
{% endblock %}
